{% extends 'home.html' %}

{% block contents %}
<body>
    <div class="container">
      <br>
      <h2> 자세한 본문 내용입니다 </h2>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-6">제목 : {{blog.title}}</h2>
          {% if blog.photo %}
          <img src="{{blog.photo.url}}" height=300 alt="">
          {% endif %}
          <p class="lead">작성 날짜 : {{blog.pub_date}}</p>
          <p class="lead">본문 : {{blog.body}}</p>
          <a href = "{% url 'update' blog.id %}">수정</a>
        <a href = "{% url 'delete' blog.id %}">삭제</a>
        </div>
      </div>
    </div>
</body>
{% endblock %}